.MovieDescription{
    margin: 4vw 8vw;
    display: flex;
}

.sec1{
    flex: 1;
}

.movie-image{
    display: inline-block;
    height: 14vh;
    width: 20vw;
    object-fit: fill;
    margin-right: 3vw;
}

.overview{
    flex: 2;
}
