@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');


.mainContainer {
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Unbounded', cursive;
}

.container {
    height: 50vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
    overflow: hidden;
    border-radius: 1.3vw;
}

.inputfield {
    margin-top: 4vh;
    font-size: 0.6rem;
}

.textfield {
    border-radius: 0.5vw;
    border: 1px solid rgb(200, 195, 195);
    height: 4vh;
    width: 11rem;
    padding: 0 10px;
}

.headerlogin {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 5px;
}

.btn {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}


.btnlogin {
    background-color: rgba(37, 214, 179, 0.918);
    border: 1px solid rgb(59, 193, 177);
    color: white;
    width: 7vw;
    font-size: .8rem;
    padding: .6vh;
    border: 1px solid rgb(67, 226, 67);
}

.btnlogin:hover{
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.btnlogin:focus{
    outline: none;
    border: none;
}

@media screen and (max-width:640px) {

    .container {
        height: max-content;
        width: max-content;
        margin: 0 10vw;
        padding: 2vh;
    }

    .textfield {
        border-radius: 5px;
        width: 40vw;
    }

    .btnlogin {
        font-size: .5rem;
        width: 50px;
    }
}

@media screen and (max-width:180px) {
    .btnlogin {
        width: 50px;
    }

    .textfield {
        width: 100px;
    }

}